
.modal-containercontainer h2{
    font-size: 18px;
    font-family: monospace;
    padding-right: 10px;
    position: -webkit-sticky;

}
.button-container button{
    cursor: pointer;
}

.modal-body body    {

    font-family: monospaced;
    margin-top: 50px;
    margin-bottom: 90px;
    padding-left: 30px;
    padding-right: 40px;
}
.modal-container{
    width: -moz-fit-content;
}
.modal-body h1 {
    font-size: 22px;
    text-align: center;
    color: green;
    font-weight: bold;
}

.modal-body #header {
    text-align: center;
    color: green;
    font-weight: bold;
}



.modal-body h4 {
    font-weight: bold;
    font-style: italic;
}

.modal-body #submit {
    text-align: center;
    font-weight: bold;
}
.button-container{
    float: right;
}
.button-container h2{
    font-family: monospace;
    font-size: 16px;
    margin-right: 0px;
}

