
body {
  font-family: monospaced;
}
  
.container {
  color: black;
  font-weight: bold;
}

button.btn {
  background-color: black;
  font-weight: bold;
}

button.btn:hover {
  color: black;
  background-color: white;
}
