
body {
  font-family: monospaced;
}

.col-12 h1 {
  color: black;
  padding: 40px;
}
  
.container {
  color: black;
  font-weight: bold;
}

button.btn {
  background-color: black;
  font-weight: bold;
}

button.btn:hover {
  color: black;
  background-color: white;
}
