body {
    margin: 200px;
}

.navbar-toggler .navbar-toggler-icon{
    border: 1px white solid;
    border-radius: 2px;
    min-height: 4vh;
    min-width: 6vh;
}

.navbar a {
  font-size: 24px;
    padding: 1vw;
  font-family: san-seriff;
  font-weight: bold;
}

.navbar.navbar-inverse .navbar-brand {
    color: #047364;
}
.navbar.navbar-inverse .navbar-brand:hover {
    color: #ffffff;
}
.navbar-brand span{
    color: #047364;
}
.navbar-brand span:hover{
    color: #ffffff;
}
.glyphicon{
    color: #047364;
}
.glyphicon:hover{
    color: #ffffff;
}
nav.navbar {
    background-color:white;
     min-height: 9vh;
    max-height: 9vh;
    border-color: white;
}
.navbar.navbar-inverse .navbar-nav>li>a{
    color: #047364;

}
.navbar.navbar-inverse .navbar-nav>li>a:hover{
    color: #ffffff;

}


.navbar .navbar-brand{
    font-size: 24px;
      
}

.container{
    padding-bottom: 1vh;
}

.header-content{
    margin-bottom: 1vh;
    background-color: #a59c9c;
    min-height: 20vh;
}

/*  Header; image carousel  */

#wit-carousel{
    padding-top: 8.7vh;
    border-top: solid 1px black;
    border-bottom:  solid 1px black;
    
}

#wit-carousel img{
    object-position: center 35%;
    object-fit: cover;
    max-height: 50vh;
}
.page-header-img{
    position: absolute;
    background-size: cover;
    z-index: -1;
    max-height: 10vh;
}
.d-block{/*carousel height*/
    max-height: 70vh;
}
.body-content{
    min-height: 60vh;
    border: 0.5px solid black;
}
.end-content{

}
.right-div{
    background-color: #d9bfbf;
    padding-top:15vh; 
    width: 50%;
    max-width: 50vw;
    height: 30vh;
    border: 5px solid black;
}

.testimonial-Slider{
    width: 50%;
    max-width:50vw;  
    height: 30vh;
}
li a:hover {
    color: #111;
}
/*index what we do */
#portfolio.color-1 {
    display: block;
    object-fit: cover;
}
.text-center {
    float: none;
    margin: 0 auto;
    padding: 2% 0 3% 0;
}
section.color-1 {
    object-fit: cover;
    color: #fff;
    background: #047364;
    padding: 5vh 15px 5vh 15px;

}

.col-md-8 .btn-white {
    background-color: white;
    color: black;

    font-family: Effra, sans-serif;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    text-align: center;
    color: black;
    border-radius: 24px;
    height: 40px;
}
.section-bottom p {
    font-family: freight-sans-pro;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    color: #ffffff;
    text-align: center;
}

/*Main area */
#mission-message{
    font-family: Pompiere;
    font-size: 3vh;
}

#testemonials h3{
    color: green;
    text-transform: uppercase;
    font-size:1vh;

}
#testemonials p{
    font-family:'Courgette';
    color: white;
    font-size: 1.vh;
}


/*Making the page responsive 
@media screen and (max-width: 768px){
    .section-1 .card{
        width: 14rem;
    }
    .section-4 .col-md-7 img{
        width: 350px;
    } 
} 

/* navBar w glyphicons */

/* span {
  color: white;
}

span:hover {
  color: blue;
}

p {
  font-size: 2vh;
} */


/* contact us */
.container.contactform-container{
    /*border: black 1px solid;*/
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.col-12 h1 {
  color: black;
  padding: 30px;
  font-weight: bold;
}
  
.container {
  color: black;
  font-weight: bold;
}

button.btn {
  background-color: #047364;
  font-weight: bold;
  border-radius-left: 0;
  border-radius-right: 0;
}

button.btn:hover {
  color: #ffffff;
  background-color: #047364;
}


/* social media icons */
.social a {
font-size: 5rem;
padding: 4rem;
}

.fa-facebook {
color: #3b5998;
}

.fa-github {
color: #35465c;
}

.fa-instagram {
color: #517fa4;
}

.fa-facebook:hover,
.fa-github:hover,
.fa-instagram:hover {
color: #FF5733;
}

/* hva er dette til? */
.header-content{
    margin-bottom: 2vh;
    background-color: #a59c9c;
    min-height: 20vh;
    border: .5px solid black;
}
.body-content{
    min-height: 60vh;
    border: 0.5px solid black;
}
.end-content{

}
.right-div{
    background-color: #d9bfbf;
    padding-top:15vh; 
    width: 50%;
    max-width: 50vw;
    height: 30vh;
    border: .5px solid black;
}

.testimonial-Slider{
    width: 50%;
    max-width:50vw;  
    height: 30vh;
}

.nav-item{
    background-color: transparent;
}

li a:hover {
    color: #111;
}


/* Main area */
#mission-message{
    font-family: Pompiere;
    font-size: 3vh;
}
#testemonials h3{
    color: green;
    text-transform: uppercase;
    font-size:1vh;

}
#testemonials p{
    font-family:'Courgette';
    color: white;
    font-size: 1.vh;
}


/*Making the page responsive 
@media screen and (max-width: 768px){
    .section-1 .card{
        width: 14rem;
    }
    .section-4 .col-md-7 img{
        width: 350px;
    }
    
}

/* CHAT */
 * {box-sizing: border-box;}


        /* Button used to open the chat form - fixed at the bottom of the page */
        .open-button {
            background-color: black;
            color: white;
            padding: 5px 7px;
            border: none;
            cursor: pointer;
            opacity: 0.8;
            position: fixed;
            bottom: 23px;
            right: 28px;
            width: 280px;
            
            z-index: 99;
        }
        /* The popup chat - hidden by default */
        .chat-popup {
            display: none;
            position: fixed;
            bottom: 0;
            right: 15px;
            border: 3px solid #f1f1f1;
            z-index: 9;
        }
        /* Add styles to the form container */
        .form-container {
            max-width: 300px;
            padding: 10px;
            background-color: white;
        }
        /* Full-width textarea */
        .form-container textarea {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            border: none;
            background: #f1f1f1;
            resize: none;
            min-height: 200px;
        }
        /* When the textarea gets focus, do something */
        .form-container textarea:focus {
            background-color: #ddd;
            outline: none;
        }
        /* Set a style for the submit/send button */
        .form-container .btn {
            background-color: #4CAF50;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            margin-bottom:10px;
            opacity: 0.8;
        }
        /* Add a red background color to the cancel button */
        .form-container .cancel {
            background-color: red;
        }
        /* Add some hover effects to buttons */
        .form-container .btn:hover, .open-button:hover {
            opacity: 1;
        }



 /* Carousel */
html
 .carousel-inner{
     margin: 0;
     height: 30%;
     text-align: center;
     font-family: 'monospace', monospace;
     color: #999;
 }

 h5 {
     text-transform: uppercase;
     letter-spacing: 1pt;
     font-size: 2 vh;
     margin-bottom: 15px;
     color: white;
 }

 p5 {
     text-align: center;
     margin: 0;

     font-size: 3 vh;
     font-weight: 900;
     width: 50%;
     display:none;
     color: white;
 }


 #table {
     display: table;
     width: 100%;
     height: 100%;
     background-color: transparent;
 }

 #centeralign {
     display: table-cell;
     vertical-align: middle;
 }
 /* Apply now */
.google-form{
    margin-top: -20px;
    background-color: #047364;;
}
.centered p{
    font-size: 6vh;


}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
    background: #9e9e9ea1;
    font-size: 10vh;
}


.applynow-headerimage img{

    width: 100%;
    max-height: 85vh;
    position: relative;
    object-fit: cover;
    object-position: center 40%;
    display: inline-block;
}

.modal-containercontainer h2{
    font-size: 18px;
    font-family: monospace;
    padding-right: 10px;
    position: -webkit-sticky;

}
.button-container button{
    float: right;
    margin-right:80px;
    cursor: pointer;
}

.modal-body body    {
    font-family: monospaced;
    margin-top: 50px;
    margin-bottom: 90px;
    padding-left: 30px;
    padding-right: 40px;
}
.modal-container{
    width: -moz-fit-content;
}
.modal-body h1 {
    font-size: 22px;
    text-align: center;
    color: green;
    font-weight: bold;
}

.modal-body #header {
    text-align: center;
    color: green;
    font-weight: bold;
}

.modal-body h4 {
    font-weight: bold;
    font-style: italic;
}

.modal-body #submit {
    text-align: center;
    font-weight: bold;
}
.button-container{
    float: right;
}

.button-container h2{
    font-family: monospace;
    font-size: 16px;
    margin-right: 0px;
    text-align:center;

}

/* button interest for witp program */    
form .input-group{
    justify-content: center;
    display: flex;
}
.promise{
    float: left;
}
section {
    padding: 100px 0;
    text-align: center;
}

.input-group {
    margin: 20px auto;
    width: 10%;
}
input.btn.btn-lg,
input.btn.btn-lg:focus {
    outline: none;
    width: 40%;
    height: 60px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #fff;
}
button.btn {
    width: 50%;
    height: 60px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #111;
}

.input-group {
  width: 100%; 
}

.container {
  width: 85%;
}

.promise {
    color: #999;
}
