/* navBar w glyphicons */

span {
  color: white;
}

span:hover {
  color: red;
}

.container-fluid {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  background-color: black;
}

.navbar a {
  margin: 7px;
  padding: 23px;
  font-size: 25px;
  font-family: san-seriff;
  font-weight: bold;
}

p {
  font-size: 20px;
}


/* footer */

.panel-footer, panel-custom:hover {
  color: black;
}

.footer {
  padding: 30px;
}
.text-center {
  text-align: center !important;
}

h5 {
  text-align: center;
}

.container-fluid1 {
  width: 100%;
  font-size: 20px;
  color: white;
  background-color: black;
  margin: 1%;
  padding: 10px;
}
