body {
  
  font-family: monospaced;
  margin-top: 50px;
  margin-bottom: 90px;
  padding-left: 30px;
  padding-right: 40px;
}

h1 {
  text-align: center;
  color: green;
  font-weight: bold;
}
  
#header {
  text-align: center;
  color: green;
  font-weight: bold;
}


.container {
  color: green;
}

h4 {
  font-weight: bold;
  font-style: italic;
}

#submit {
  text-align: center;
  font-weight: bold;
}

